---
title: TalentView|Tunnel de recrutement
---


<!-- Wrapper -->

<div class="wrapper  row padded">
	<div class="text-center">
		<%= image_tag 'logo.png', class:'small_padding'%>
		<h1>Optimisez vos recrutements en quelques clics</h1>
		<h3>Créez un tunnel de qualification des candidats et révélez les meilleurs talents.</h3>
	</div>
	<div class="text-center medium_padding">
		<% link_to '#product' do %>
			<i class="fa fa-angle-down floating"></i>
		<% end %>
		
	</div>
</div>


<!-- Produit -->

<div id="product" class="padded">
	<div class="text-center small_padding">
		<h2>Créez un tunnel de conversion</h2>
		<h4>et transformez les candidats en collaborateurs</h4>
	</div>

	<div class="row pop">
		<div class="col-md-12 text-center">
			<%= image_tag 'iphone.png', class:'' %>

			<h4 class="text-center">Etape 1 : Présentation simplifiée de l'annonce.</h4>
			<p>TalentView devient le point unique pour receuillir les candidatures.</p>
		</div>
	</div>


	<div class="row pop">
		
		<div class="col-md-12 text-center">
			<%= image_tag 'video_hotspot.png', class:'' %>

			<h4 class="text-center">Etape 2 : Vidéo interactive sur votre société incluant un questionnaire pour évaluer le candidat</h4>
			<p>Nous vennons dans votre entreprise filmer et créons un questionnaire dans la vidéo avec des "hotsports" pour interagir avec le candidat.</p>
		</div>
	</div>


	<div class="row pop">
		<div class="col-md-12 text-center">
			<%= image_tag 'pitch.png', class:'' %>

			<h4 class="text-center">Etape 3 : Le candidat se présente en vidéo et répond aux questions ouvertes.</h4>
			<p>Le premier contact avec le candidat se fait avant même qu'il ai finalisé sa candidature.</p>
		</div>
		
		
	</div>

	<div class="row pop">
		<div class="col-md-12 text-center">
			<%= image_tag 'fiche.png', class:'' %>

			<h4 class="text-center">Etape 4 : Finalisation de la candidature et notation automatique</h4>
			<p>Une fois la candidature finalisée, le recruteur peut évaluer chaque profil via une interface simple et ludique.</p>
		</div>
		
		
	</div>
</div>

<!-- detail -->

<div id="detail">
	<div class="row big_padding">
		<div class="col-md-12 text-center">
			<h2>Révélez le candidat idéal !</h2>
		</div>
	</div>
</div>



<!-- client-->

<div id="client"class="padded">
	<div class="container text-center" >
		<h2>Cas clients</h2>
		<div class="row padding">
			<% data.clients.each do |client|%>
				<div class="col-sm-12 col-md-3 pop">
					<%= image_tag client.icon, class:""%>
					<h3><%= client.name%></h3>
					<p><%= client.description%></p>
				</div>
			<%end%>
		</div>
	</div>
</div>



<!-- Comclever -->

<div id="comclever">

	<div class="container text-center">
		<div class="row medium_padding">
			<h2>TalentView, une société du Groupe ComClever</h2>
			<div class="col-lg-12 small_padding">
				<% link_to 'http://www.comclever.com/', target: '_blank' do %>
					<%= image_tag 'comclever.png', class:"round"%>
				<% end %>
			</div>
			<div class="col-md-12">
				<% link_to 'http://www.viewon.fr/', target: '_blank' do %>
					<%= image_tag 'viewon.png', class:"round"%>
				<%end%>

				<% link_to 'http://www.krealid.com/', target: '_blank' do %>
					<%= image_tag 'krealid.png', class:"round"%>
				<%end%>

				<% link_to 'http://www.svd-studio.fr/', target: '_blank' do %>
					<%= image_tag 'svd.png', class:"round"%>
				<% end %>
				
				<% link_to 'http://www.citenum.com/', target: '_blank' do %>
					<%= image_tag 'qi.png', class:"round"%>
				<% end %>

				<% link_to 'http://www.citenum.com/', target: '_blank' do %>
					<%= image_tag 'naos-site1.jpg', class:"round"%>
				<% end %>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12"><h3>Nos chiffres clés</h3></div>
			<div class="col-md-3 figure">
					<h3>250</h3>
					<span>clients</span>
			</div>
			<div class="col-md-3 figure">
					<h3>20</h3>
					<span>ans d'innovation</span>
			</div>
			<div class="col-md-3 figure">
				<h3>10</h3>
				<span>M€ de CA</span>
			</div>
			<div class="col-md-3 figure">
				<h3>110</h3>
				<span>collaborateurs</span>
			</div>	
		</div>
	</div>
</div>


