---
title: TalentView|Tunnel de recrutement
---


<!-- Wrapper -->

<div class="wrapper  row padded">
	<div class="text-center titlezone">
		<%= image_tag 'logo.png', class:'small_padding'%>
		<h1>Optimisez vos recrutements en quelques clics</h1>
		<h3>Créez un tunnel de qualification des candidats et révélez les meilleurs talents.</h3>
	</div>
	<div class="text-center medium_padding">
		<% link_to '#product' do %>
			<i class="fa fa-angle-down floating"></i>
		<% end %>
		
	</div>
	<div id="kicker" class="container">
		<div class="row text-center small_padding">
			<div class="col-lg-3 col-sm-6">
				<i class="fa fa-filter"></i>
				<p>Triez automatiquement les candidats</p>
			</div>
			<div class="col-lg-3 col-sm-6">
				<i class="fa fa-video-camera"></i>
				<p>Utilisez la puissance de la vidéo interactive</p>
			</div>
			<div class="col-lg-3 col-sm-6">
				<i class="fa fa-cloud"></i>
				<p>Profitez d'une solution 100% Cloud</p>
			</div>
			<div class="col-lg-3 col-sm-6">
				<i class="fa fa-sliders"></i>
				<p>Effectuez un paramètrage simple</p>
			</div>
		</div>
	</div>
</div>

<!-- kicker -->




<!-- Produit -->

<div id="product" class="padded">
	<div class="text-center small_padding">
		<h2>Créez un tunnel de conversion</h2>
		<h4>et transformez les candidats en collaborateurs</h4>
	</div>

	<div class="row pop">
		<div class="col-md-12 text-center">
			<%= image_tag 'iphone.png', class:'' %>

			<h4 class="text-center">Etape 1 : Présentation simplifiée de l'annonce.</h4>
			<p>TalentView devient le point unique pour receuillir les candidatures.</p>
		</div>
	</div>


	<div class="row pop">
		
		<div class="col-md-12 text-center">
			<%= image_tag 'video_hotspot.png', class:'' %>

			<h4 class="text-center">Etape 2 : Vidéo interactive sur votre société incluant un questionnaire pour évaluer le candidat</h4>
			<p>Nous vennons dans votre entreprise filmer et créons un questionnaire dans la vidéo avec des "hotsports" pour interagir avec le candidat.</p>
		</div>
	</div>


	<div class="row pop">
		<div class="col-md-12 text-center">
			<%= image_tag 'pitch.png', class:'' %>

			<h4 class="text-center">Etape 3 : Le candidat se présente en vidéo et répond aux questions ouvertes.</h4>
			<p>Le premier contact avec le candidat se fait avant même qu'il ai finalisé sa candidature.</p>
		</div>
		
		
	</div>

	<div class="row pop">
		<div class="col-md-12 text-center">
			<%= image_tag 'fiche.png', class:'' %>

			<h4 class="text-center">Etape 4 : Notation et tri automatique des candidats.</h4>
			<p>Une fois la candidature finalisée, le recruteur peut évaluer chaque profil via une interface simple et ludique.</p>
		</div>
		
		
	</div>

</div>

<!-- candidat -->

<div id="candidat">
	<div class="row big_padding">
		<div class="col-md-12 text-center">
			<h2>Révélez le candidat idéal !</h2>
		</div>

		<div class="row">
			<div class="col-md-12 text-center bottom_padding">
				<button id="go_button" type="button" class="btn btn-default cta slideUp" data-toggle="modal" data-target="#myModal">Demandez une démonstration</button>


				<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				  <div class="modal-dialog">
				    <div class="modal-content">
				      <div class="modal-header">
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				        <h4 class="modal-title" id="myModalLabel">TalentView</h4>
				      </div>
				      <div class="modal-body">
				        <div id="wufoo-q1hhvb0v11y2kyx">
				        Fill out my <a href="https://talentview.wufoo.com/forms/q1hhvb0v11y2kyx">online form</a>.
				        </div>
				        <div id="wuf-adv" style="font-family:inherit;font-size: small;color:#a7a7a7;text-align:center;display:block;">HTML Forms powered by <a href="http://www.wufoo.com">Wufoo</a>.</div>
				        <script type="text/javascript">var q1hhvb0v11y2kyx;(function(d, t) {
				        var s = d.createElement(t), options = {
				        'userName':'talentview',
				        'formHash':'q1hhvb0v11y2kyx',
				        'autoResize':true,
				        'height':'697',
				        'async':true,
				        'host':'wufoo.com',
				        'header':'show',
				        'ssl':true};
				        s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'www.wufoo.com/scripts/embed/form.js';
				        s.onload = s.onreadystatechange = function() {
				        var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
				        try { q1hhvb0v11y2kyx = new WufooForm();q1hhvb0v11y2kyx.initialize(options);q1hhvb0v11y2kyx.display(); } catch (e) {}};
				        var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
				        })(document, 'script');</script>

				    </div>
				  </div>
				</div>
			</div>
		</div>
	</div>



	</div>
</div>

<!-- Présentation Prezi -->

<div id="presentation" class="padded">
	<div class="row text-center">
		<h2>La prateforme TalentView en détail</h2>
			<div class="col-md-12">
				<iframe id="iframe_container" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen="" width="550" height="400" src="https://prezi.com/embed/khqldslrkmpk/?bgcolor=ffffff&amp;lock_to_path=1&amp;autoplay=0&amp;autohide_ctrls=0&amp;landing_data=bHVZZmNaNDBIWnNjdEVENDRhZDFNZGNIUE43MHdLNWp4eFBrV0JIL1Q0cTRkWTFkTXJ5K0lrazhLeWlMVm50RTA3MUxZRGtDbEdTMmltN3A0YlMxd3dUQTV2VjJuQVRP&amp;landing_sign=1OUA8-sGMctdHpSFXxR3hcEngxLwVsrX0O4lCZ7PKgk"></iframe>		
		</div>
	</div>
	
</div>



<!-- client-->

<div id="client"class="padded">
	<div class="container text-center" >
		<h2>Cas clients</h2>
		<div class="row padding">
			<% data.clients.each do |client|%>
				<div class="col-sm-12 col-md-3 pop">
					<%= image_tag client.icon, class:""%>
					<h3><%= client.name%></h3>
					<p><%= client.description%></p>
				</div>
			<%end%>
		</div>
		<div class="row small_padding">
			<button id="go_button" type="button" class="btn btn-default cta slideUp" data-toggle="modal" data-target="#myModal">TalentView pour votre société ? </button>
		</div>
	</div>
</div>



<!-- Comclever -->

<div id="comclever">

	<div class="container text-center">
		<div class="row medium_padding">
			<h2>TalentView, une société du Groupe ComClever</h2>
			<div class="col-lg-12 small_padding">
				<% link_to 'http://www.comclever.com/', target: '_blank' do %>
					<%= image_tag 'comclever.png', class:"round"%>
				<% end %>
			</div>
			<div class="col-md-12">
				<% link_to 'http://www.viewon.fr/', target: '_blank' do %>
					<%= image_tag 'viewon.png', class:"round"%>
				<%end%>

				<% link_to 'http://www.krealid.com/', target: '_blank' do %>
					<%= image_tag 'krealid.png', class:"round"%>
				<%end%>

				<% link_to 'http://www.svd-studio.fr/', target: '_blank' do %>
					<%= image_tag 'svd.png', class:"round"%>
				<% end %>
				
				<% link_to 'http://www.citenum.com/', target: '_blank' do %>
					<%= image_tag 'qi.png', class:"round"%>
				<% end %>

				<% link_to 'http://www.citenum.com/', target: '_blank' do %>
					<%= image_tag 'naos-site1.jpg', class:"round"%>
				<% end %>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12"><h3>Nos chiffres clés</h3></div>
			<div class="col-md-3 figure">
					<h3>250</h3>
					<span>clients</span>
			</div>
			<div class="col-md-3 figure">
					<h3>20</h3>
					<span>ans d'innovation</span>
			</div>
			<div class="col-md-3 figure">
				<h3>10</h3>
				<span>M€ de CA</span>
			</div>
			<div class="col-md-3 figure">
				<h3>110</h3>
				<span>collaborateurs</span>
			</div>	
		</div>
	</div>
</div>


